.preview-property-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 400px;
    
}

.preview-property-container {
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
  }
  
  .preview-property-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .preview-property-container p {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    img{
        width: 20px;
    }
  }
  
  .carousel {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .carousel-image {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border: 1px solid #ccc;
  }
  
  .carousel-button {
    background: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    color: var(--primary-bg);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.3);
  }

  .prev-button{
    transform: translateX(110%);
  }
  .next-button{
    transform: translateX(-110%);
  }
  .property-info{
    padding: 20px;
  }
  .rent-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: var(--secondary-bg);
    padding: 20px;
  }
  
  .rent-details div {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .inquiry-form {
    border: none;
    background-color: var(--secondary-bg);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 6px 2px rgba(0,0,0,0.3);
  }
  
  .inquiry-form h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .inquiry-form p {
    margin-bottom: 10px;
  }
  
  .preview-property-form-group {
    margin-bottom: 10px;
  }
  
  .preview-property-form-group input,
  .preview-property-form-group textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* Property Overview */

  .property-overview {
    margin: 20px;
    margin-top: 80px;
    padding: 20px;
    background-color: #fff;
    border-bottom: 0.5px solid var(--border-color);
    
  }
  .property-overview-heading{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
  }
  
  .property-overview h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .society-name {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
  }
  
  .overview-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .overview-item {
    display: flex;
    justify-content: baseline;
    text-align: center;
    div{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 10px;
    }
  }
  
  .overview-item img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
  }
  
  .overview-item span {
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
  }
  
  .overview-item p {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
  }
  
  /* Amenities */

  .property-amenities{
    margin: 20px;
    margin-top: 80px;
    padding: 20px;
    background-color: #fff;
    border-bottom: 0.5px solid var(--border-color);
  }
  
  .property-amenities h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #property-amenities-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    div{
      display: flex;
      flex-direction: column;
      align-items: center;

      img{
        width: 32px;
      }

      input{
        display: none;
      }

      label{
        font-size: 0.8rem;
        color: var(--border-color);
      }
    }
    
  }

  /* Description */
  .property-preview-description{
    margin-top: 40px;
    padding: 40px;
    border-bottom: 0.5px solid var(--border-color);
    h2{
      font-size: 24px;
      margin-bottom: 10px;
    }
    p{
      color: var(--border-color);
      font-size: 1rem;
      font-weight: 500;
      text-align: justify;
      margin-top: 20px;
    }
  }

/* Explore Neighborhood */
.explore-neighbourhood{
  grid-column-start: 1;
  grid-column-end: 4;
}

/* Review */
.ratings-reviews {
  width:90%;
  margin: 0 auto;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 40px;
  border-radius: 5px;
  border: 0.5px solid var(--border-color);
}

.ratings-reviews h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.reviews-container {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.review-card {
  padding: 20px;
  width: 45%;

}

.review-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

  img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}

.review-user-info {
  flex-grow: 1;
}

.review-user-info h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.review-user-info p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--border-color);
}

.review-rating {
  display: flex;
  align-items: center;
  gap: 5px;

  img{
    width: 14px;
    height: 14px;
  }
  span {
    font-size: 1rem;
  }
}


.review-content h4 {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 20px 0 10px;
}

.review-content p {
  font-size: 0.8rem;
  color: var(--border-color);
  margin: 0 0 10px;
}

.show-more {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-bg);
  text-decoration: underline;
}

.write-review {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

/* Similar properties */

.similar-properties {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--secondary-bg);
  grid-column-start: 1;
  grid-column-end: 4;
}

.similar-properties h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.properties-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.property-card {
  margin: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.property-card:hover {
  transform: scale(1.05);
}

.property-card img {
  width: 100%;
  height: auto;
}

.property-info {
  padding: 15px;
}

.property-info h3 {
  font-size: 18px;
  margin: 10px 0;
}

.property-info p {
  font-size: 14px;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.property-info img {
  margin-right: 5px;
  width: 16px;
}

/* About Section */
.about-section {
  grid-column-start:1;
  grid-column-end:4;
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1rem;
  color: var(--border-color);
  line-height: 1.5;
  margin: 10px 0;
}

.show-more {
  font-size: 16px;
  color: var(--primary-bg);
  text-decoration: underline;
  font-weight: bold;
  display: inline-block;
  margin: 10px 0 60px;
}

.show-more:hover {
  text-decoration: underline;
}

/* Responsive css */

/* For mobile and tablets devices */
@media (max-width: 1150px) {
  .preview-property-container {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    max-width: 900px;
    margin: auto;
    
  }
  .property-info {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 20px;
    width: 100%;
    max-width: 900px;
    margin: auto;
  }
  .reviews-container{
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 900px;
    margin: auto;
  }
  .review-card{
    width: 100%;
  }
  .properties-container{
    overflow-x: scroll;
    width: 100%;
    max-width: 900px;
    margin: auto;
  }
  .property-card{
    width: 200px;
  }
}  