/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Colors */
:root{
  --secondary-bg:#FCF8F4;
  --primary-bg: #122B49;
  --border-color:#7A7A7A;
  --selected-blue:#EDF2F8;
}

  

*{
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

/* Common elements */
.btn{
  background-color: var(--primary-bg);
  color: #fff;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

/* Navbar start */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--secondary-bg);
  padding: 1rem 4rem;
}

.logo a {
  display: flex;
  align-items: baseline;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  
}

.nav-links li {
  ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}



/* Navbar end */


/* Seller Homepage start */

.sellerContainer {
  height: 77vh;
  background-color: var(--primary-bg);
  padding: 4rem 8rem;
  color: #fff;
}

.sellerContainer .upper-section{
  margin-bottom: 4rem;
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 500;
  }
}
.sellerContainer .lower-section{
  display: flex;
  justify-content: space-around;
  padding: 1rem 3rem;

  .left-section {
    width: 45%;
    padding: 2rem;

    h2{
      font-weight: 500;
      margin-bottom: 14px;
    }
    p {
      font-size: 1rem;
      margin-bottom: 20px;
    }
    .steps {
      list-style: none;
      padding: 0;

      li {
        font-size: 1rem;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        .checkmark {
          margin-right: 8px;
        }

        strong{
          margin-left: 5px;
        }
      }
    }
  }
}

.sellerContainer .right-section {
  height: fit-content;
  width: 45%;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  overflow: hidden;
  .form-container{
    background-color: var(--secondary-bg);
    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      padding: 20px 50px;
    }
  
    form {
      height: 200px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      padding: 20px 50px;
      padding-right: 80px;
      background-color: #fff;

      label {
        font-size: 1rem;
        margin-bottom: 10px;
        margin-left: 2px;
        margin-top: 10px;
      }
      .radio-group{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        label{
          margin-left: 20px;
        }
        div{
          display: flex;
          justify-content: center;
          align-items: baseline;
        }
      }
      .phone-group{
        display: flex;

        select{
          max-width: 16%;
        }
      }
      
      input{
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid var(--border-color);
        border-radius: 2px;
      }
      select{
        padding: 9px;
        margin-bottom: 20px;
        margin-right: 2px;
        border: 1px solid var(--border-color);
        border-radius: 2px;
      }

      button {
        padding: 10px;
        background-color: #0c2d48;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      button:hover {
        background-color: #1a466a;
      }

      .required {
        color: red;
      }
    
    }

    .otpContainer{
      background-color: #fff;
      padding: 50px;
      div{
        display: flex;
        justify-content: space-between;
        align-items: bas;
        margin-bottom: 30px;
        h2{
          padding: 0px;
        }
        a{
          font-size: 0.8rem;
          color: var(--border-color);
        }
      }
      .required {
        color: red;
      }
    }
    input{
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      border: 1px solid var(--border-color);
      border-radius: 5px;
      margin-bottom: 10px;
    }
    a{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      color: var(--border-color);
      text-decoration: none;
      font-size: 0.8rem;
      margin-bottom: 50px;
    }

    .form-footer{
      font-size: 0.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      color: var(--border-color);
      strong{
        color: #000;
      }
    }
  } 
}





/* List your property */

  .notification-holder{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
  .listPropertyContainer{
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    /* List your property */
    .lp-nav{
      background-color: var(--secondary-bg);
      display: flex;
      justify-content: space-between;
      p{
        padding: 30px;
        font-size: 0.9rem;
        text-align: center;
        border-bottom: 8px solid var(--border-color);
      }
      .active-tab{
        color: black;
        background-color: var(--selected-blue);
      }
      .non-active-tab{
        color: var(--border-color);
      }
      .completed-tab{
        color: var(--primary-bg);
        border-bottom: 8px solid var(--primary-bg);
      }
    }
    .sub-form{
      height: 300px;
      overflow-y: scroll;
    }

    #property-form {
      background: white;
      padding: 20px;
      border-radius: 8px;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;

      #property_for{
        grid-column-start: 1;
        grid-column-end:3;
      }
      #property_type{
        grid-column-start: 1;
        grid-column-end:4;
      }
      #built-up-area{
        grid-column-start: 1;
        grid-column-end:3;
      }
      #carpet-area-con{
        grid-column-start: 3;
        grid-column-end:5;
      }
      #property-on-floor-con{
        grid-column-start: 1;
        grid-column-end:2;
      }
      #total-floors-con{
        grid-column-start: 2;
        grid-column-end:3;
      }
      #property-facing-con{
        grid-column-start: 3;
        grid-column-end:5;
      }
      #property_age{
        grid-column-start: 1;
        grid-column-end:5;
      }
      #bhk_type{
        grid-column-start: 1;
        grid-column-end:5;
      }
      #bathrooms_toilets{
        grid-column-start: 1;
        grid-column-end:5;
      }
      #balcony{
        grid-column-start: 1;
        grid-column-end:5;
      }
      #tenant_preference{
        grid-column-start: 1;
        grid-column-end:5;
      }
      #availability{
        grid-column-start: 1;
        grid-column-end:5;
      }
      #property-description-con{
        grid-column-start: 1;
        grid-column-end:5;
      }

      .button-group input[type="radio"] {
          display: none;
      }
      
      .button-group label {
          display: inline-block;
          font-weight: 400;
          padding: 10px 20px;
          border: 1px solid var(--border-color);
          border-radius: 20px;
          cursor: pointer;
          transition: all 0.3s ease;
          margin-right: 10px;
      }
      
      .button-group input[type="radio"]:checked + label {
          background-color: var(--primary-bg);
          color: white;
          border-color: #007bff;
      }
      
      .button-group label:hover {
          background-color: #f0f0f0;
      }
    }
    .required {
      color: red;
    }
    
    .form-group {
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    
    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
    }
    .form-group div.radio-group{
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
    }
    .form-group div.radio-group label{
      display: inline;
      font-weight: 400;
    }
    
    .form-group input[type="number"],
    .form-group input[type="text"],
    .form-group textarea,
    .form-group select {
        width: calc(100% - 10px);
        padding: 8px;
        margin-right: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    
    .form-group input[type="radio"] {
        margin-right: 5px;
    }
    
    .form-group textarea {
        height: 100px;
    }

    #location-details{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      padding: 20px;
    }

    .google-map-con{
      grid-column-start: 1;
      grid-column-end:3;
      label{
        font-weight: 600;
        font-size: 1.1rem;
        padding-bottom: 10px;
      }
    }

    .lp-footer{
      background-color: var(--primary-bg);
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      padding: 10px 30px;
      font-size: 0.9rem;
    }
  }

  #features-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    row-gap: 40px;

    input[type='checkbox']{
      height: 20px;
      width: 20px;
    }

    #non-veg{
      grid-column-start: 1;
      grid-column-end: 3;
    }
    #pets-allowed{
      grid-column-start: 1;
      grid-column-end: 3;
    }
    #electricity{
      grid-column-start: 1;
      grid-column-end: 3;
    }
    #water-supply{
      grid-column-start: 1;
      grid-column-end: 4;
    }
    hr{
      grid-column-start: 1;
      grid-column-end: 5;
    }
    #furnishing{
      grid-column-start: 1;
      grid-column-end: 4;
    }
    #additional-features{
      grid-column-start: 1;
      grid-column-end: 4;
    }
    #tiles{
      grid-column-start: 1;
      grid-column-end: 4;
    }
    #safety{
      grid-column-start: 1;
      grid-column-end: 5;
      .button-group{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    .button-group{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 20px;
      div{
        display: flex;
        align-items: center;
        gap: 10px;

        label{
          font-weight: 400;
        }
      }
    }

    .amenities-grid{
      grid-column-start: 1;
      grid-column-end: 5;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;

      h2{
        grid-column-start: 1;
        grid-column-end: 5;
      }
      .amenity-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        padding: 20px;

        img{
          width: 32px;
        }
        label{
          color: var(--border-color);
          font-size: 0.8rem;
        }
      }
    }
    
  }

  #price-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;

    .form-group{
      padding: 20px;
    }
    #maintainance-cost-con{ 
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      input{
        grid-column-start: 1;
      }
    }
    .additional-pricing-detail-con{
      grid-column-start: 1;
      grid-column-end:3;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;

      textarea{
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding: 10px;
      }
    }

  }

#property-photos {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.prop-photo-title {
  font-size: 1em;
  margin-bottom: 10px;
}

.prop-photo-subtitle {
  font-size: 0.8em;
  margin-bottom: 20px;
}

.upload-area {
  width: 80%;
  margin: 10px auto;
  border: 1px solid var(--border-color);
  padding: 80px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-icon{
  border: none;
  background-color: transparent;
  img{
    width: 25px;
  }
}

.preview-area{
  width: 80%;
  margin: 10px auto;
  border: 1px solid var(--border-color);
  padding:20px;
  border-radius: 10px;
  h2{
    font-size: 1rem;
    font-weight: 500;
  }
}
#preview-area-ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
  img{
    width: 100%;
  }
}



.hide{
  display: none!important;
}